@font-face {
    font-family: "Montserrat";
    src: url("montserrat/Montserrat-Light.ttf");
}

body {
    font-family: "Montserrat";
    text-align: center;
}

select {
    font-family: "Montserrat";
    width: 300px;
    height: 35px;
    margin-top: 15px;
}

.mainTitle {
    font-size: larger;
}

.description {
    margin-top: 10px;
}

.textInput {
    font-family: "Montserrat";
    background: lightgray;
    width: 300px;
    height: 35px;
    margin-top: 25px;
}

.submitButton {
    font-family: "Montserrat";
    width: 150px;
    height: 25px;
    margin-top: 15px;
}

.optionsContainer {
    min-height: 100px;
    overflow: hidden;
}

.container {
    background-color: lightgray;
    width: 250px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 15px auto;
    cursor: pointer;
    font-size: 22px;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.option {
    display: inline-block;
    float: left;
    width: 50%;
    margin-left: 0;
    text-align: center;
}

.progress-bar-container {
    margin: 0 auto;
    background-color: lightgray;
    width: 90%;
    height: 25px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

.progress-bar {
    height: 100%;
    background-color: #2196F3;
}

#quiz {
    max-width: 650px;
    margin: 0 auto;
}

#message {
    color: red;
}

@media only screen and (max-device-width: 650px) {
    .option {
        width: 95%;
    }
    
    .submitButton {
        width: 250px;
        height: 40px;
        font-size: larger;
    }
}
